.header {
  display: flex;
  align-items: center;
  height: 60px;

  &__logo {
    margin-right: 5%;
  }

  &__container, &__list {
    display: flex;
    column-gap: 16px;
  }
  &__container {
    justify-content: space-around;
    width: 100%;
  }
  &__list {
    align-items: center;
  }
}

