.green-button {
  background-color: #24B47E;
  padding: 11px 7px;
  border-radius: 4px;
  &:hover {
    background-color: #57c09a;
    color: white;
    text-decoration: none;
  }
}

.section .green-button {
  padding: 9px 17px;
}